<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ahtblog>
            <general>
                <enable>1</enable>
                <page_title>Blog Page Title</page_title>
                <social_sharing>1</social_sharing>
                <product>1</product>
                <comment>1</comment>
                <comment_status>1</comment_status>
            </general>
        </ahtblog>
    </default>
</config>