// /**
//  * Copyright © AHT, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import "slick.less";
@import "slick-theme.less";
//
//  Color variables
//  _____________________________________________
@color-white: #fff;
@color-shadow: #ccc8c8;
@color-pink: #e9d5d2;
@color-linka: #454545;
@color-title: #30241a;
@color-title-hover: #221912;
@color-button: #30241a;
@color-button-hover: #221912;
@color-bg-form-cmt: #f9f9f9;

& when (@media-common =true) {

    /*aht Blog Post Listing*/
    .ahtblog-post-main,
    .ahtblog__sidebar-main {
        margin-top: 30px;
    }

    .ahtblog-post-listing-main {
        padding: 0;
        margin-left: 10px;
    }

    .ahtblog-post-main {
        li {
            display: inline-block;
        }

        .ahtblog-post-list {
            margin-bottom: 30px;
            background: @color-white;
            list-style: none;
            display: flex;
        }
    }



    .ahtblog-post-list-image {
        min-width: 50%;
        max-width: 50%;
        overflow: hidden;
    }

    .ahtblog-post-list-image .ahtblog-post-listing-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .ahtblog-post-list-image:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .ahtblog-post-list-main-content {
        padding: 2em;
    }

    .aht-post-heading {
        margin: 0 0 10px 0;
    }

    .aht-post-heading {
        &:hover a {
            text-decoration: none;
            color: @color-title-hover;
        }

        a {
            color: @color-title;
        }
    }

    .blog-post-author {
        margin-left: 10px;
    }

    .ahtblog-post-content {
        margin: 13px 0;
        font-size: 15px;
        line-height: 1.7;
    }

    .toolbar select {
        box-shadow: none;
        border-radius: 0;
    }

    /*Single Post*/
    .blog-view-header {
        border-bottom: 1px solid @color-pink;
        padding-bottom: 15px;
        margin-bottom: 25px;

        h2 {
            margin-bottom: 10px;
        }
    }

    .blog-post-view-image {
        margin-bottom: 15px;
    }

    .blog-view-main {
        padding-left: 15px;
    }

    /*Commenct Section*/
    .blog-post-comment-form .aht-blog-post-view {
        padding: 20px;
        margin-top: 15px;
        background: @color-bg-form-cmt;
    }

    button.aht-search-submit {
        background: @color-button;
        border: 1px solid @color-button;

        &:hover,
        :active,
        :focus {
            background-color: @color-button-hover;
            border: 1px solid @color-button-hover;
        }

        i.fa.fa-search {
            color: @color-white;
        }
    }

    button.aht-search-submit.primary,
    a.readmore.action.primary {
        background: @color-button;
        border: 1px solid @color-button;

        &:hover,
        :active,
        :focus {
            background-color: @color-button-hover;
            border: 1px solid @color-button-hover;
        }
    }

    .blog-post-comment-form .aht-blog-post-view {
        .actions {
            margin: 5px;
        }

        .control {
            input {
                width: 48.5%;
                margin: 5px;

            }

            textarea {
                margin: 5px;
                width: 98.75%;
            }
        }
    }

    .blog-view-comment-list {
        background: #f9f9f9;
        padding: 15px 15px 5px;
        display: block;
        margin-bottom: 20px;
        position: relative;

        &:after {
            position: absolute;
            content: "\f10d";
            font-size: 30px;
            color: #ddd;
            left: 15px;
            font-family: FontAwesome;
            top: 50px;
        }

        .p-actions a {
            color: @color-button;
            font-size: 12px;

            &:hover,
            :active {
                color: @color-button-hover;
            }
        }
    }

    .ahtuser-info {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .ahtuser-info span {
        margin-right: 8px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.4px;
    }

    .blog-post-comment-form {
        margin-top: 30px;
    }

    p.blog-view-comment-content {
        font-size: 14px;
        line-height: 23px;
        padding-left: 38px;
    }

    .blog-post-comment-list {
        margin-top: 30px;
    }
    .c-replyform-comment {
        padding: 0 15px;
    }
    .c-replyform .c-btn-hld {
        margin-top: 20px;
        button {
            margin-top: 20px;
        }

        .lr-hld {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: center;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .left-hld {
                width: 49%;
                padding: 0;
                -webkit-flex: 0 0 49%;
                -ms-flex: 0 0 49%;
                flex: 0 0 49%;
            }

            .right-hld {
                width: 49%;
                padding: 0;
                -webkit-flex: 0 0 49%;
                -ms-flex: 0 0 49%;
                flex: 0 0 49%;
            }


        }
    }
    /*aht Sidebar Section*/
    .field.aht-search {
        position: relative;

        input.input-text {
            border-radius: 3px;
            border: 1px solid @color-button;

            &:focus {
                box-shadow: none;
            }
        }

        .actions {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .sidebar.sidebar-main:before {
        z-index: -9;
        border: none;
    }

    .aht-blog-search,
    .ahtblog__sidebar-main .sidebar-widget {
        margin-bottom: 30px;
    }

    .ahtblog__sidebar-main .sidebar-widget {
        position: relative;
        padding: 20px;
        background-color: @color-white;
        box-shadow: 0px 5px 8px @color-shadow;
        -moz-box-shadow: 0px 5px 8px @color-shadow;
        -webkit-box-shadow: 0px 5px 8px @color-shadow;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-top: 5px solid @color-pink;

        a {
            color: @color-linka;
            text-decoration: none;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: @color-title;
            border-bottom: 1px solid @color-pink;
            padding-bottom: 12px;
            margin: 0 0 16px;
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 0;

            li {
                margin: 0 0 10px;
                padding: 0 0 10px;
                border-bottom: 1px solid @color-pink;
                list-style-type: none;
                font-weight: bold;

                p.child-category {
                    margin-left: 30px;
                }
            }
        }
    }
}

/*Responsive Css*/
@media only screen and (max-width: 740px) {

    .ahtblog-post-main .ahtblog-post-list {
        display: block;
    }

    .ahtblog-post-list-image {
        min-width: 100%;
        max-width: 100%;
        line-height: 0;
    }

    .ahtblog-post-listing-main {
        margin: 0;
    }

    .blog-post-comment-form .aht-blog-post-view .control {

        input,
        textarea {
            width: 100%;
        }
    }

    .blog-post-product {
        display: block;
    }

    .blog-post-product-list {
        width: 80%;
        margin: 25px auto;
    }

    .blog-related-products {
        text-align: center;
    }
}
