<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
        <add    id="AHT_Blog::blog" title="AHT Blog" 
                module="AHT_Blog" sortOrder="10" 
                resource="AHT_Blog::blog" translate="title"
                dependsOnConfig="ahtblog/general/enable"/>
        <!-- Manage -->
        <add    id="AHT_Blog::label_manage_post" title="Manage " 
                module="AHT_Blog" sortOrder="1"
                resource="AHT_Blog::manage_post" parent="AHT_Blog::blog"/>

        <add    id="AHT_Blog::manage_category" title="Category" 
                module="AHT_Blog" sortOrder="2" 
                parent="AHT_Blog::label_manage_post" resource="AHT_Blog::manage_category" 
                action="ahtblog/category/index"/>        

        <add    id="AHT_Blog::manage_post" title="Post" 
                module="AHT_Blog" sortOrder="3"
                parent="AHT_Blog::label_manage_post" resource="AHT_Blog::manage_post" 
                action="ahtblog/post/index" />

        <add    id="AHT_Blog::manage_comment" title="Comment" 
                module="AHT_Blog" sortOrder="4" 
                parent="AHT_Blog::label_manage_post" resource="AHT_Blog::manage_comment" 
                action="ahtblog/comment/index"/>
        <!-- Settings -->
        <add    id="AHT_Blog::label_configuration" title="Settings" 
                module="AHT_Blog" sortOrder="20" 
                parent="AHT_Blog::blog" resource="AHT_Blog::config_aht"/>

        <add    id="AHT_Blog::blog_configuration" title="Configuration" 
                module="AHT_Blog" sortOrder="21" 
                parent="AHT_Blog::label_configuration" resource="AHT_Blog::config_aht"
                action="adminhtml/system_config/edit/section/ahtblog"/>

    </menu>
</config>
